@(parts: List[Part], partForm: Form[Part])

@import helper.twitterBootstrap._
@import helper._

<h1>ROptions Inventory Control</h1>
<h2>Add a new part</h2>

@helper.form(routes.Parts.newPart()) {

    <fieldset>
        <legend>Part information</legend>
        
        @inputText(
            partForm("id"), 
            '_label -> "Part ID", 
            '_help -> "Enter the unique part ID."
        )
        
        @inputText(
            partForm("label"),
            '_label -> "Part Name",
            '_help -> "Enter the part name."
        )
        
        @inputText(
            partForm("qty"), 
            '_label -> "Quantity",
            '_help -> "Enter an initial quantity for this part."
        )
        
        @inputText(
            partForm("brand"),
            '_label -> "Vendor",
            '_help -> "Enter the company you buy this part from."
        )            
    </fieldset>        
    <div class="actions">
        <input type="submit" class="btn primary" value="Create"></input>
    </div>   
})
