@(parts: List[Part], partForm: Form[Part])

@import helper._
@import helper.twitterBootstrap._

@main("Todo list") {
<div class="container">

    <h1 class="center">Inventory Control</h1>
    <h2>Part(s)</h2>
    
    <ul>
        <table class="table table-striped">
            <tr>
                <th>Type</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>

            @for(part <- parts) {
                <tr>
                    <td class="span4">@part.label</td>
                    <td class="span4">@part.brand</td>
                    <td class="span1">@part.quantity</td>
                    <td class="span1">
                        @form(routes.Parts.deletePart(part.id)) {
                            <button class="btn btn-danger btn-mini"  type="submit" value="Delete">X</button>
                            
                        }
                    </td>
                </tr>
            }
        </table>
    </ul>
    
    <h2>Add New Part</h2>
    
    @form(routes.Parts.newPart()) {
        <div class="span3">
            @inputText(partForm("label"), args = '_label -> " ", 'placeholder -> "Type") 
        </div>
        <div class="span3">
            @inputText(partForm("brand"), args = '_label -> " ", 'placeholder -> "Brand") 
        </div>
        <div class="span3">
            @inputText(partForm("quantity"), args = '_label -> " ", 'placeholder -> "Quantity")
        </div>
        <p>
        <button class="btn btn-primary" type="submit" value="Create">Create</button>
        
    }

</div>    
}
