@(parts: List[Part], partForm: Form[Part])

@import helper._

@main("Todo list") {
    
    <h1>@parts.size() part(s)</h1>
    
    <ul>
        @for(part <- parts) {
            <li>
                @part.label
                
                @form(routes.Parts.deletePart(part.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new part</h2>
    
    @form(routes.Parts.newPart()) {
        
        @inputText(partForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}
